body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--background);
    height: 100%;
    width: 100%;
    transition: 2s;
}

.navbar-brand img {
    width: 80px;
}

#education {
    display: none;
}

#main-container,
#education {
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

h1,
h2 {
    line-height: 1.5;
    font-weight: 800;
    font-size: 3rem;
    color: var(--textColor);
    /* padding: 60px; */
}

.description {
    color: var(--textColor);
    font-size: 1.5rem;
    padding-bottom: 50px;
}

.download-btn {
    color: var(--textColor);
    padding: 5px 20px;
    font-size: 1.5rem;
    font-weight: 500;
    border: 1px solid var(--textColor);
    border-radius: 5px;
    /* background-color: aqua; */
}

.download-btn:hover {
    color: var(--background);
    background-color: var(--textColor);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 400px;
    padding: 10px;
    margin: 20px;
}

.card a {
    color: var(--textColor);
}

.sch {
    display: flex;
    width: 80%;
    line-height: 1;
    margin: 20px;
    padding: 20px;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.edulogo {
    margin: 40px;
    width: 60px;
}

.edu-desccription {
    /* width: 80%; */
    /* font-size: 1rem; */
    line-height: 1.7;
    color: var(--textColor);
}

.card img {
    width: 100%;
    margin-bottom: 20px;
}

.footer {
    position: relative;
    bottom: 0;
    top: 90%;
    /* width: 65%; */
    text-align: center;
    height: 80px;
    justify-content: center;
}

.footer i {
    margin: 15px;
    color: var(--textColor);
}

:root {
    --background: #fff;
    --textColor: #000;
}